.header{
    display: flex;
    justify-content:space-between;
    margin:10px;
    border: 1px solid black;
}
.nav-lists ul{
    list-style-type: none;
    display: flex;
}
.nav-lists ul li{
    padding: 10px;
}
.body-list{
    display:flex

}
.card img{
    width:100%;
}
.card{
    width: 200;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}